<h3 class="title">Cuentas</h3>

<div class="container">
    <input type="text" class="textbox" placeholder="Search..." placeholder="Buscar..." [(ngModel)]="buscarMovimiento" (input)="filterMovimientos()">
    <button (click)="showModalCreate()"  class="button">Nuevo</button>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Numero Cuenta</th>
                <th>Tipo</th>
                <th>Saldo Inicial</th>
                <th>Estado</th>
                <th>Movimiento</th>
                <th>Saldo Disponible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimiento of listaMovimientos; let i = index">
                <td>{{ movimiento.fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{ movimiento?.cuenta?.cliente?.nombre }}</td>
                <td>{{ movimiento?.cuenta?.numeroCuenta }}</td>
                <td>{{ movimiento?.cuenta?.tipoCuenta }}</td>
                <td>{{ movimiento?.cuenta?.saldoInicial }}</td>
                <td>{{ movimiento?.cuenta?.estado }}</td>
                <td>{{ movimiento?.valor }}</td>
                <td>{{ movimiento?.saldo }}</td>
                <td>
                    <button title="Editar" (click)="showModalUpdate(movimiento)" class="button-p">
                        <i class="fas fa-edit"></i>
                      </button>
                      
                      <button title="Eliminar" (click)="showModalDelete(movimiento)" class="button-s">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal" *ngIf="isShowModal">
    <div class="modal-content">
        <h3 class="title">{{ title }}</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input id="fecha" [(ngModel)]="selectedMovimiento.fecha" name="fecha" required type="date" class="input-field">
                </div>
                <div class="form-group">
                    <label for="tipoMovimiento">Tipo de Movimiento:</label>
                    <select id="tipoMovimiento" [(ngModel)]="selectedMovimiento.tipoMovimiento" name="tipoMovimiento" required class="input-field">
                        <option value="Ahorros">Ahorros</option>
                        <option value="Corriente">Corriente</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="valor">Valor:</label>
                    <input id="valor" [(ngModel)]="selectedMovimiento.valor" name="valor" required type="number" class="input-field">        
                </div>
                <div class="form-group">
                    <label for="saldo">Saldo:</label>
                    <input id="saldo" [(ngModel)]="selectedMovimiento.saldo" name="saldo" required type="number" class="input-field">
                </div>
            </div>
           
            <div class="form-row">
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <input id="estado" [(ngModel)]="selectedMovimiento.estado" name="estado" type="checkbox" class="checkbox-field">
                </div>
                <div class="form-group">
                    <label for="cuenta">Cuenta:</label>
                    <select id="cuenta" [(ngModel)]="selectedCuenta" name="cuenta" required class="input-field">
                        <option *ngFor="let cuenta of listaCuentas" [ngValue]="cuenta">{{ cuenta.numeroCuenta }} - {{cuenta.cliente?.nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="container-options">
                <button type="button" (click)="closeModalMovimiento()" class="button-s">Cancelar</button>
                <button type="submit" class="button-p">Guardar</button>
            </div>
        </form>
    </div>
</div>


<div class="modal" *ngIf="isShowModalDeleted">
    <div class="modal-content">
        <h3 class="title">¿Estás seguro de eliminar la movimiento {{ selectedMovimiento.fecha }}?</h3>
        <hr class="separator">
        <div class="container-options">
            <button (click)="closeModalDelete()" class="button-s">Cancelar</button>
            <button (click)="confirmDeleteMovimiento()" class="button-p">Confirmar</button>
        </div>
    </div>
</div>