<h3 class="title">Cuentas</h3>

<div class="container">
    <input type="text" class="textbox" placeholder="Search..." placeholder="Buscar..." [(ngModel)]="buscarCuenta" (input)="filterCuentas()" >
    <button [routerLink]="['/clientes/nuevo']" class="button">Nuevo</button>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Número Cuenta</th>
                <th>Tipo</th>
                <th>Saldo Inicial</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuenta of listaCuentas; let i = index">
                <td>{{ cuenta.numeroCuenta }}</td>
                <td>{{ cuenta.tipoCuenta }}</td>
                <td>{{ cuenta.saldoInicial }}</td>
                <td>{{ cuenta.estado }}</td>
                <td>{{ cuenta.cliente?.nombre }}</td>
                <td>
                    <button title="Editar" (click)="showModalUpdate(cuenta)" class="button-p">
                        <i class="fas fa-edit"></i>
                      </button>
                      
                      <button title="Eliminar" (click)="showModalDelete(cuenta)" class="button-s">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- <div class="modal" *ngIf="isShowModal">
    <div class="modal-content">
        <label class="text-modal">¿Estás seguro de eliminar el cliente {{ selectedCliente.nombre }}?</label>
        <hr class="separator">
        <div class="container-options">
            <button (click)="closeModalCliente()" class="button-s">Cancelar</button>
            <button (click)="confirmDeleteCliente()" class="button-p">Confirmar</button>
        </div>
    </div>
</div> -->