<h3 class="title">Cuentas</h3>

<div class="container">
    <input type="text" class="textbox" placeholder="Search..." placeholder="Buscar..." [(ngModel)]="buscarCuenta" (input)="filterCuentas()" >
    <button (click)="showModalCreate()" class="button">Nuevo</button>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Número Cuenta</th>
                <th>Tipo</th>
                <th>Saldo Inicial</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuenta of listaCuentas; let i = index">
                <td>{{ cuenta.numeroCuenta }}</td>
                <td>{{ cuenta.tipoCuenta }}</td>
                <td>{{ cuenta.saldoInicial }}</td>
                <td>{{ cuenta.estado }}</td>
                <td>{{ cuenta.cliente?.nombre }}</td>
                <td>
                    <button title="Editar" (click)="showModalUpdate(cuenta)" class="button-p">
                        <i class="fas fa-edit"></i>
                      </button>
                      
                      <button title="Eliminar" (click)="showModalDelete(cuenta)" class="button-s">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" *ngIf="isShowModal">
    <div class="modal-content">
        <h3 class="title">{{ title }}</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <label for="numeroCuenta">Número de Cuenta:</label>
                    <input id="numeroCuenta" [(ngModel)]="selectedCuenta.numeroCuenta" name="numeroCuenta" required class="input-field">        
                </div>
                <div class="form-group">
                    <label for="tipoCuenta">Tipo de Cuenta:</label>
                    <select id="tipoCuenta" [(ngModel)]="selectedCuenta.tipoCuenta" name="tipoCuenta" required class="input-field">
                        <option value="Ahorros">Ahorros</option>
                        <option value="Corriente">Corriente</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="saldoInicial">Saldo Inicial:</label>
                    <input id="saldoInicial" [(ngModel)]="selectedCuenta.saldoInicial" name="saldoInicial" required type="number" class="input-field">        
                </div>
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <input id="estado" [(ngModel)]="selectedCuenta.estado" name="estado" type="checkbox" class="checkbox-field">
                </div>
            </div>
            
            <label for="cliente">Cliente:</label>
            <select id="cliente" [(ngModel)]="selectedCliente" name="cliente" required class="input-field">
            <option *ngFor="let cliente of listaClientes" [ngValue]="cliente">{{ cliente.nombre }}</option>
            </select>

            <div class="container-options">
                <button type="button" (click)="closeModalCuenta()" class="button-s">Cancelar</button>
                <button type="submit" class="button-p">Guardar</button>
            </div>
        </form>
    </div>
</div>


<div class="modal" *ngIf="isShowModalDeleted">
    <div class="modal-content">
        <h3 class="title">¿Estás seguro de eliminar la cuenta {{ selectedCuenta.numeroCuenta }}?</h3>
        <hr class="separator">
        <div class="container-options">
            <button (click)="closeModalDelete()" class="button-s">Cancelar</button>
            <button (click)="confirmDeleteCuenta()" class="button-p">Confirmar</button>
        </div>
    </div>
</div>