$background-color: #F6F8FA;
.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  app-top-bar {
    color: #ecf0f1;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // z-index: 1000;
  }
  
  .content-wrapper {
    display: flex;
    flex: 1;
  }
  
  app-side-bar {
    width: 250px;
    color: #ecf0f1;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
  }